################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestWebApp/.vs/TestWebApp
/TestWebApp/packages
/TestWebApp/TestWebApp/bin
/TestWebApp/TestWebApp/obj/Debug
/DorNetCoreUIWebApplication/.vs/DorNetCoreUIWebApplication
/DorNetCoreUIWebApplication/DorNetCoreUIWebApplication/bin/Debug/netcoreapp3.1
/DorNetCoreUIWebApplication/DorNetCoreUIWebApplication/obj
